:root {
    --main-color: #060b26;
    --text-color: #232323;
    --secondary-color: #112154;
}

.activityBookingCard {
    background-color: rgba(160, 199, 219, 0.208);
    border-radius: 5px;
    margin: 20px 100px 0 100px;
}

.checkout-btn {
    background-color: var(--main-color);
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    align-self: center;
    margin: 2rem 0;
}