:root {
  --main-color: #060b26;
  --text-color: #232323;
  --secondary-color: #112154;
}
.cruiseBookingCard {
  background-color: rgba(160, 199, 219, 0.208);
  border-radius: 5px;
  /* height: 250px; */
  /* margin-left: 20px;
  margin-right: 20px; */
  margin: 20px 100px 0 100px;
}


.checkout-btn {
  background-color: red;
  /* background-color: var(--main-color); */
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  align-self: center;
  margin: 2rem 0;
}

/* .contactCard{
  margin: 20px 100px 0 100px;
} */
